#button{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 1px solid #6bbaf1;
    font-size: 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

canvas {
    transform: rotate(-90deg);
    /*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);*/
    -ms-transform: rotate(-90deg);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#progress {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill{
    width: 600px;
    height: 600px;
    position: relative;
}

.outer{
    height: 600px;
    width: 600px;
    padding: 50px;
    border: 1px solid #6bbaf1;
    border-radius: 50%;
}

circle{
    display: none;
    fill: none;
    stroke: url(#gradColour);
    stroke-width: 50px;
    stroke-dasharray: 1727;
    stroke-dashoffset: 1727;
    animation: anim 2s linear forwards;
}

:root{
    --percent: 0;

    }


@keyframes anim {
    100%{
        stroke-dashoffset: var(--percent);
    }
}

.myCircle{
    display: none;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.inner{
    height: 500px;
    width: 500px;
    border: 1px solid #6bbaf1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropBtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropBtn:hover, .dropBtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .option :hover {background-color: #ddd;}

.show {
    display: block;
}

#goFish{
    display: inline-block;
    position: relative;
    padding: 12px 16px;
    top:100%;
    left:90%;
}

#customOption{
    visibility: hidden;
    position: absolute;
}